Repository CodeLabFatec/SolutionSpace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format -w backend, npm run lint:fix -w backend, npm run test:staged -w backend, npm run format -w frontend, npm run lint:fix -w frontend

chore: update jest configs
  packages/backend/jest.config.js
  packages/frontend/jest.config.js
Due: none

chore: update frontend eslint to remove react declaration always needed
  packages/frontend/.eslintrc.json
Due: none

temp: add dummy react component
  packages/frontend/src/presentation/components/dummy-component.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

test: add dummy react component
  packages/frontend/test/presentation/components/dummy-component.spec.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

chore: add frontend jest scripts
  packages/frontend/package.json
Due: none

chore: update frontend lint-staged hooks to include test
  .lintstagedrc.json
Due: none

chore(husky): remove pre-push hook
  .husky/pre-push
Due: none

feat: add TicketForm page
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/ticket-form/ticket-form-styles.css
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

chore: add express dependency
  package-lock.json
  package.json
Due: none

chore(frontend): add express-history-api-fallback dependency
  package-lock.json
  packages/frontend/package.json
Due: none

chore: update eslintrc to include es6 env
  .eslintrc.base.json
Due: none

chore(webpack): add webpack dependencies
  package-lock.json
  packages/frontend/package.json
Due: none

chore(frontend): add ts-loader dependency
  package-lock.json
  packages/frontend/package.json
Due: none

chore(frontend): add sass dependencies
  package-lock.json
  packages/frontend/package.json
Due: none

chore(frontend): update tsconfig emit files and outDir
  packages/frontend/tsconfig.json
Due: none

chore(webpack): add webpack config files
  packages/frontend/index.js
  packages/frontend/public/template.dev.html
  packages/frontend/webpack.common.js
  packages/frontend/webpack.dev.js
Due: none

chore: add frontend webpack start script
  package.json
  packages/frontend/package.json
Due: none

chore(frontend): add eslintignore
  packages/frontend/.eslintignore
Due: none

refactor: eslint fix
  packages/frontend/src/App.tsx
  packages/frontend/src/app/views/formularioChamados/formularioChamados.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: add TicketForm page
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/factories/pages/ticket-form-factory.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: add Router
  packages/frontend/src/main/routes/router.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: add app index entrypoint
  packages/frontend/src/main/index.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: declare sass typescript modules
  packages/frontend/src/main/config/sass-module.d.ts
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: update dev template to include google material-icons
  packages/frontend/public/template.dev.html
Due: none

feat: add global scss
  packages/frontend/src/main/index.tsx
  packages/frontend/src/presentation/styles/colors.scss
  packages/frontend/src/presentation/styles/global.scss
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: add Header and Logo components
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/index.ts
  packages/frontend/src/presentation/components/logo/logo.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: ensure TicketForm displays Header
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

refactor: remove unused code
  packages/frontend/public/index.html
  packages/frontend/public/logo192.png
  packages/frontend/public/logo512.png
  packages/frontend/public/manifest.json
  packages/frontend/public/robots.txt
  packages/frontend/src/App.css
  packages/frontend/src/App.tsx
  packages/frontend/src/app/routes/index.tsx
  packages/frontend/src/app/shared/components/Logo.tsx
  packages/frontend/src/app/shared/components/header/header.css
  packages/frontend/src/app/shared/components/header/header.tsx
  packages/frontend/src/app/shared/components/index.tsx
  packages/frontend/src/app/shared/services/index.tsx
  packages/frontend/src/app/views/formularioChamados/formularioChamados.css
  packages/frontend/src/app/views/formularioChamados/formularioChamados.tsx
  packages/frontend/src/app/views/index.ts
  packages/frontend/src/index.css
  packages/frontend/src/index.tsx
  packages/frontend/src/logo.svg
  packages/frontend/src/reset.css
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat: update React dom rendering to the React 18 API
  packages/frontend/src/main/index.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

refactor: changed header css
  packages/frontend/src/presentation/components/header/header-styles.scss
Due: none

feat(routes): Created express server
  .env
  .eslintrc.base.json
  package-lock.json
  package.json
  packages/backend/.eslintrc.json
  packages/backend/package.json
  packages/backend/src/routes.ts
  packages/backend/src/server.ts
Due: npm run format -w backend, npm run lint:fix -w backend, npm run test:staged -w backend

feat: add homepage solicitantes
  packages/frontend/src/main/factories/pages/home-solicitantes-factory.tsx
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar-styles.scss
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar.tsx
  packages/frontend/src/presentation/components/footer/footer-styles.scss
  packages/frontend/src/presentation/components/footer/footer.tsx
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/index.ts
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes-styles.scss
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/images/backgroundedited.jpg
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/styles/colors.scss
  packages/frontend/tsconfig.json
Due: npm run format -w frontend, npm run lint:fix -w frontend

chore: remove format script and add prettier to lint-staged
  .lintstagedrc.json
  package.json
  packages/backend/package.json
  packages/frontend/package.json
Due: none

a
  package-lock.json
  package.json
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/ticket-form/ticket-form-styles.css
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
  packages/frontend/src/presentation/styles/colors.scss
  packages/frontend/src/presentation/styles/global.scss
Due: npm run format -w frontend, npm run lint:fix -w frontend

dropzone
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/presentation/components/dropzone/dropzone-global-styles.tsx
  packages/frontend/src/presentation/components/dropzone/dropzone-styles.tsx
  packages/frontend/src/presentation/components/dropzone/dropzone.tsx
  packages/frontend/src/presentation/components/dropzone/file-list/file-list-styles.tsx
  packages/frontend/src/presentation/components/dropzone/file-list/file-list.tsx
  packages/frontend/src/presentation/components/dropzone/upload/teste.scss
  packages/frontend/src/presentation/components/dropzone/upload/upload-styles.tsx
  packages/frontend/src/presentation/components/dropzone/upload/upload.tsx
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
Due: npm run format -w frontend, npm run lint:fix -w frontend

feat(database): Created migrations, entity, repositories and auth
  .env
  .eslintrc.base.json
  .gitignore
  package-lock.json
  package.json
  packages/backend/jest.config.js
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/data-source.ts
  packages/backend/src/entitites/Files.ts
  packages/backend/src/entitites/Group.ts
  packages/backend/src/entitites/Request.ts
  packages/backend/src/entitites/User.ts
  packages/backend/src/middlewares/authMiddlaware.ts
  packages/backend/src/migrations/1679514590891-default.ts
  packages/backend/src/migrations/1679516032411-default.ts
  packages/backend/src/repositories/fileRepository.ts
  packages/backend/src/repositories/groupRepository.ts
  packages/backend/src/repositories/requestRepository.ts
  packages/backend/src/repositories/userRepository.ts
  packages/backend/src/routes.ts
  packages/backend/src/server.ts
  packages/backend/tsconfig.json
  tsconfig.base.json
Due: npm run format -w backend, npm run lint:fix -w backend, npm run test:staged -w backend

a
  packages/frontend/package.json
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/styles/colors.scss
  packages/frontend/src/presentation/styles/global.scss
Due: none

a
  packages/frontend/src/presentation/components/dropzone/upload/teste.scss
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/styles/colors.scss
  packages/frontend/src/presentation/styles/global.scss
Due: none

docs: update readme
  README.md
Due: none

docs: redme update
  README.md
Due: none

Path conditions:
  npm run format -w backend: any of: */backend/**/*.ts
  npm run lint:fix -w backend: any of: */backend/**/*.ts
  npm run test:staged -w backend: any of: */backend/**/*.ts
  npm run format -w frontend: any of: */frontend/**/*.{ts,tsx}
  npm run lint:fix -w frontend: any of: */frontend/**/*.{ts,tsx}
