Repository CodeLabFatec/SolutionSpace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

chore/CLB-7-pagina-de-cadastro-de-chamados
  packages/frontend/src/main/factories/pages/formularioChamados-factory.tsx
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/factories/pages/ticket-form-factory.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/dropzone/dropzone-global-styles.tsx
  packages/frontend/src/presentation/components/dropzone/dropzone-styles.tsx
  packages/frontend/src/presentation/components/dropzone/file-list/file-list-styles.tsx
  packages/frontend/src/presentation/components/dropzone/upload/teste.scss
  packages/frontend/src/presentation/components/dropzone/upload/upload-styles.tsx
  packages/frontend/src/presentation/components/dropzone/upload/upload.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

chore/CLB-7-pagina-de-cadastro-de-chamados
  packages/frontend/src/presentation/components/dropzone/upload/teste.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
Due: none

chore/CLB-13-pagina-alinhamento-estrategico
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.scss
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

chore/CLB-13-pagina-alinhamento-estrategico
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.scss
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

chore/CLB-13-pagina-alinhamento-estrategico
  package-lock.json
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

chore/CLB-13-pagina-alinhamento-estrategico
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.scss
  packages/frontend/src/presentation/components/multipleSelect/multipleSelect.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(server): Created server, authentication and repo
  packages/backend/package.json
  packages/backend/src/application/controllers/AuthController.ts
  packages/backend/src/application/controllers/TeamController.ts
  packages/backend/src/application/controllers/UserController.ts
  packages/backend/src/application/middlewares/authMiddlaware.ts
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/data-source.ts
  packages/backend/src/entitites/Files.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680002104808-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Files.ts
  packages/backend/src/infra/repos/postgres/entitites/Rating.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/infra/repos/postgres/entitites/Team.ts
  packages/backend/src/infra/repos/postgres/entitites/User.ts
  packages/backend/src/infra/repos/postgres/repositories/fileRepository.ts
  packages/backend/src/infra/repos/postgres/repositories/ratingRepository.ts
  packages/backend/src/infra/repos/postgres/repositories/requestRepository.ts
  packages/backend/src/infra/repos/postgres/repositories/teamRepository.ts
  packages/backend/src/infra/repos/postgres/repositories/userRepository.ts
  packages/backend/src/main/config/app.ts
  packages/backend/src/main/config/routes.ts
  packages/backend/src/main/routes/authRoutes.ts
  packages/backend/src/main/routes/teamRoutes.ts
  packages/backend/src/main/routes/userRoutes.ts
  packages/backend/src/migrations/1679514590891-default.ts
  packages/backend/src/migrations/1679516032411-default.ts
  packages/backend/src/repositories/groupRepository.ts
  packages/backend/src/routes.ts
  packages/backend/src/server.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

a
  package.json
Due: none

refact(database) : add rating columns
  packages/backend/src/application/middlewares/authMiddlaware.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680005052687-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Rating.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

chore/clb-52-analise-de-risco
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

tela_login
  packages/frontend/package.json
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/factories/pages/login-factory.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/logomenor/logomenor.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/login/imagem/background.jpg
  packages/frontend/src/presentation/pages/login/imagem/logo.png
  packages/frontend/src/presentation/pages/login/login.scss
  packages/frontend/src/presentation/pages/login/login.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

a
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/pages/login/login.scss
Due: none

feat(routes): Added new routes and database and auth updates
  packages/backend/.eslintrc.json
  packages/backend/src/application/controllers/TeamController.ts
  packages/backend/src/application/controllers/UserController.ts
  packages/backend/src/application/middlewares/authMiddlaware.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680006436439-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Files.ts
  packages/backend/src/infra/repos/postgres/entitites/Rating.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/infra/repos/postgres/entitites/Team.ts
  packages/backend/src/infra/repos/postgres/entitites/User.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

a
  packages/frontend/src/main/enums/tipo-chamado.tsx
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar.tsx
  packages/frontend/src/presentation/components/chamado/chamado-styles.scss
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.scss
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
  packages/frontend/src/presentation/pages/ticket-form/ticket-form-styles.css
  packages/frontend/src/presentation/pages/ticket-form/ticket-form-styles.scss
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(avaliacoes): Added rating routes and changes in controllers
  packages/backend/src/application/controllers/AuthController.ts
  packages/backend/src/application/controllers/RatingController.ts
  packages/backend/src/application/controllers/RequestController.ts
  packages/backend/src/application/controllers/TeamController.ts
  packages/backend/src/application/controllers/UserController.ts
  packages/backend/src/application/middlewares/authMiddlaware.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680030083992-default.ts
  packages/backend/src/infra/database/migrations/1680030354104-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Rating.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/infra/repos/postgres/repositories/ratingRepository.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

chore/ajutes-frontend
  package.json
  packages/frontend/package.json
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/login/login.scss
  packages/frontend/src/presentation/pages/login/login.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add login context
  package-lock.json
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680045630082-default.ts
  packages/backend/src/server.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/factories/pages/ticket-form-factory.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/login/login.scss
  packages/frontend/src/presentation/pages/login/login.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add login context
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/factories/pages/chamados.tsx
  packages/frontend/src/main/factories/pages/formularioChamados-factory.tsx
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/factories/pages/ticket-form-factory.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar.tsx
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/index.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.scss
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/chamados/chamados-styles.scss
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/login/login.tsx
  packages/frontend/src/presentation/pages/ticket-form/ticket-form.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(request): Added new routes and refacted controllers
  packages/backend/src/infra/database/migrations/1680030354104-default.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

#
  package-lock.json
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/application/controllers/RatingController.ts
  packages/backend/src/application/controllers/RequestController.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680100558489-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Files.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/main/config/routes.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat(request): Added request filter by team
  packages/backend/src/application/controllers/RequestController.ts
  packages/backend/src/infra/repos/postgres/entitites/Team.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

Changed wrong route name
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

add
  packages/frontend/src/main/enums/visualizar-chamado.tsx
  packages/frontend/src/main/factories/pages/chamados.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/chamado/chamado-styles.scss
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

modal
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/presentation/components/footer/footer-styles.scss
  packages/frontend/src/presentation/components/modal/modal.scss
  packages/frontend/src/presentation/components/modal/modal.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

modal
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajuste
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajuste
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
Due: none

feat(rating): Added list ratings by request id
  packages/backend/src/application/controllers/RatingController.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

.
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat(files): Added files at entities
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/repos/postgres/entitites/File.ts
  packages/backend/src/infra/repos/postgres/entitites/Rating.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/infra/repos/postgres/repositories/fileRepository.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat(files): Added file creation in request
  packages/backend/src/application/controllers/RequestController.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680265710809-default.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat(files): Added files to rating creation
  packages/backend/src/application/controllers/RatingController.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

criar chamado & listar chamados
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680224074647-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/enums/tipo-chamado.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar.tsx
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add files to create request
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680301258675-default.ts
  packages/backend/src/server.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/components/dropzone/dropzone.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(ratings): Added some business rules
  packages/backend/src/application/controllers/RatingController.ts
  packages/backend/src/application/controllers/statusConfigurationController.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680265710809-default.ts
  packages/backend/src/infra/database/migrations/1680269788675-default.ts
  packages/backend/src/infra/database/migrations/1680270256435-default.ts
  packages/backend/src/infra/database/migrations/1680361928323-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Request.ts
  packages/backend/src/infra/repos/postgres/entitites/StatusConfiguration.ts
  packages/backend/src/infra/repos/postgres/repositories/statusConfigurationRepository.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat: final changes
  packages/backend/src/application/controllers/RatingController.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680224074647-default.ts
  packages/backend/src/infra/database/migrations/1680269788675-default.ts
  packages/backend/src/infra/database/migrations/1680270256435-default.ts
  packages/backend/src/infra/database/migrations/1680301258675-default.ts
  packages/backend/src/infra/database/migrations/1680361928323-default.ts
  packages/backend/src/infra/database/migrations/1680389187539-default.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/login/login.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajustes
  package-lock.json
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680450115503-default.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajustes
  packages/frontend/src/presentation/components/botao-solicitar/botao-solicitar-styles.scss
Due: none

docs: update readme
  README.md
Due: none

docs: add sprint 1 report
  README.md
  docs/relatorio-sprint1.md
Due: none

Path conditions:
  prettier --write: (any of: */backend/**/*.ts) or (any of: */frontend/**/*.{ts,tsx})
  npm run lint:fix -w backend: any of: */backend/**/*.ts
  npm run test:staged -w backend: any of: */backend/**/*.ts
  npm run lint:fix -w frontend: any of: */frontend/**/*.{ts,tsx}
  npm run test:staged -w frontend: any of: */frontend/**/*.{ts,tsx}
