Repository CodeLabFatec/SolutionSpace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: readme updated
  README.md
Due: none

docs: sprint 1 report updated
  docs/relatorio-sprint1.md
Due: none

docs: add sprint1 video
  README.md
  docs/relatorio-sprint1.md
Due: none

docs: video width ok
  README.md
Due: none

docs: video width ok
  docs/relatorio-sprint1.md
Due: none

docs: video width for readme
  README.md
Due: none

feat: add group entity
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1680619472964-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Group.ts
  packages/backend/src/infra/repos/postgres/entitites/User.ts
  packages/backend/src/infra/repos/postgres/repositories/groupRepository.ts
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(refactProject): Refacted project libs
  .eslintrc.base.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  jest.config.js
  package-lock.json
  package.json
  packages/backend/.eslintrc.json
  packages/backend/package.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/test/presentation/components/dummy-component.spec.tsx
  packages/frontend/tsconfig.json
  tsconfig.base.json
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add group methods & readme update
  README.md
  docs/relatorio-sprint1.md
  docs/relatorio-sprint2.md
  packages/backend/.eslintrc.json
  packages/backend/src/application/controllers/GroupController.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1681590491394-default.ts
  packages/backend/src/infra/database/migrations/1681593030091-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Group.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

ajuste-header
  package-lock.json
  package.json
  packages/frontend/.eslintrc.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

.
  packages/backend/src/repos/postgres/entitites/Group.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

feat(team) Created Edit and remove Team
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1681590491394-default.ts
  packages/backend/src/database/migrations/1681593030091-default.ts
  packages/backend/src/database/migrations/1681884213122-default.ts
  packages/backend/src/repos/postgres/entitites/Team.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

page cadastro usuários created
  packages/backend/src/application/controllers/GroupController.ts
  packages/backend/src/infra/repos/postgres/entitites/Group.ts
  packages/backend/src/infra/repos/postgres/entitites/Team.ts
  packages/backend/src/routes.ts
  packages/frontend/.eslintrc.json
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/factories/pages/cadastro-usuarios.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: page 'cadastro usuarios' created
  package-lock.json
  package.json
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682040229012-default.ts
  packages/backend/src/infra/repos/postgres/entitites/Group.ts
  packages/backend/src/repos/postgres/entitites/Group.ts
  packages/backend/src/repos/postgres/entitites/Team.ts
  packages/backend/src/repos/postgres/entitites/User.ts
  packages/backend/src/routes.ts
  packages/frontend/package.json
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: readme update
  README.md
Due: none

ajuste-header
  .gitignore
  package-lock.json
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/infra/database/migrations/1682034739809-default.ts
  packages/frontend/package.json
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/chamado/chamado-styles.scss
  packages/frontend/src/presentation/components/chamadosLista/chamadoLista.tsx
  packages/frontend/src/presentation/components/chamadosLista/chamadoListaStyle.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/components/menu/menuStyle.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.scss
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/chamados/chamados-styles.scss
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes-styles.scss
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
  packages/frontend/src/presentation/pages/login/login.scss
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: crud user pages
  docs/relatorio-sprint2.md
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/factories/pages/edicao-usuarios.tsx
  packages/frontend/src/main/factories/pages/listagem-usuarios.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/SelectType/SelectType.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

pagina de cadastro de equipe
  package-lock.json
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682101351646-default.ts
  packages/frontend/package.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/chamado/chamado-styles.scss
  packages/frontend/src/presentation/components/chamadosLista/chamadoLista.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
  packages/frontend/src/presentation/pages/equipe/cadastroEquipe.scss
  packages/frontend/src/presentation/pages/equipe/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: ajustes páginas usuário
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add team page funcionality
  packages/backend/src/controllers/TeamController.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/pages/equipe/cadastroEquipe.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

a
  packages/frontend/public/favicon.ico
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.scss
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipeStyles.scss
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastroUsuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajuste-table
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajuste
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

teste
  package-lock.json
  package.json
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682117805066-default.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/cadastroGrupo/cadastroGrupo.scss
  packages/frontend/src/presentation/pages/cadastroGrupo/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/index.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add listagem & edicao de equipes
  packages/backend/src/controllers/TeamController.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.scss
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipeStyles.scss
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

menu
  packages/frontend/src/presentation/components/menu/menu.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add group description
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682189846479-default.ts
  packages/backend/src/repos/postgres/entitites/Group.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

listagemGroup
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.scss
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

home
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/homeFeature.scss
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/homeFeature.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/images/backgroundedited.jpg
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/homeHotfix.scss
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/homeHotfix.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/images/backgroundedited.jpg
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: permissoes ao menu
  packages/backend/src/controllers/AuthController.ts
  packages/frontend/src/main/enums/home.ts
  packages/frontend/src/main/enums/index.ts
  packages/frontend/src/main/enums/tipo-chamado.ts
  packages/frontend/src/main/enums/visualizar-chamado.ts
  packages/frontend/src/main/factories/pages/home-factory.tsx
  packages/frontend/src/main/factories/pages/home-solicitantes-factory.tsx
  packages/frontend/src/main/factories/pages/index.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/main/types/chamado-type.ts
  packages/frontend/src/main/types/filechamado-type.ts
  packages/frontend/src/main/types/index.ts
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/chamados/chamados.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes-styles.scss
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
  packages/frontend/src/presentation/pages/index.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

homepage permissions
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/homeFeature.scss
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/homeFeature.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Feature/images/backgroundedited.jpg
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/homeHotfix.scss
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/homeHotfix.tsx
  packages/frontend/src/presentation/pages/home-solicitantes/Hotfx/images/backgroundedited.jpg
  packages/frontend/src/presentation/pages/home-solicitantes/home-solicitantes.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

edicaoGrupo
  packages/backend/src/controllers/GroupController.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/cadastroGrupo/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.scss
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.tsx
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.scss
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.tsx
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add permisão fluxo ao frontend
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajustes finais
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.tsx
  packages/frontend/src/presentation/pages/login/login.scss
  packages/frontend/src/presentation/pages/login/login.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

Path conditions:
  prettier --write: (any of: */backend/**/*.ts) or (any of: */frontend/**/*.{ts,tsx})
  npm run lint:fix -w backend: any of: */backend/**/*.ts
  npm run test:staged -w backend: any of: */backend/**/*.ts
  npm run lint:fix -w frontend: any of: */frontend/**/*.{ts,tsx}
  npm run test:staged -w frontend: any of: */frontend/**/*.{ts,tsx}
