Repository CodeLabFatec/SolutionSpace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

fix: lista chamados
  package-lock.json
  package.json
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/frontend/src/main/contexts/blockcontext.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/main/types/rating.ts
  packages/frontend/src/presentation/components/chamados-lista/chamado-lista.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

fix: fix info chamado
  packages/frontend/src/main/types/chamado-type.ts
  packages/frontend/src/main/types/index.ts
  packages/frontend/src/main/types/rating.ts
  packages/frontend/src/main/types/user.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

Update README.md
  README.md
Due: none

docs: update relatorio
  docs/relatorio-sprint3.md
Due: none

ajustes
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

kanban-init
  package-lock.json
  package.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/kanban/column.tsx
  packages/frontend/src/presentation/components/kanban/kanbanBoard.tsx
  packages/frontend/src/presentation/components/kanban/style.scss
  packages/frontend/src/presentation/components/kanban/task.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/kanbanPage/kanban.tsx
  packages/frontend/src/presentation/pages/kanbanPage/kanbanStyle.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

Kanban
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/controllers/index.ts
  packages/backend/src/controllers/kanbanController.ts
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1685540532511-default.ts
  packages/backend/src/database/migrations/1685625706920-default.ts
  packages/backend/src/repos/postgres/entitites/Kanban.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/backend/src/repos/postgres/repositories/kanbanRepository.ts
  packages/backend/src/routes.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/components/kanban/column.tsx
  packages/frontend/src/presentation/components/kanban/kanbanBoard.tsx
  packages/frontend/src/presentation/components/kanban/task.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

filtragemTable
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipeStyles.scss
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.scss
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(recuperarSenha) - Created password recovery by email
  package-lock.json
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683563067834-default.ts
  packages/backend/src/database/migrations/1683587853299-default.ts
  packages/backend/src/database/migrations/1683669903631-default.ts
  packages/backend/src/database/migrations/1683768998450-default.ts
  packages/backend/src/database/migrations/1683803953990-default.ts
  packages/backend/src/database/migrations/1683810603833-default.ts
  packages/backend/src/database/migrations/1683813798806-default.ts
  packages/backend/src/database/migrations/1683815443914-default.ts
  packages/backend/src/database/migrations/1683854100089-default.ts
  packages/backend/src/database/migrations/1685540532511-default.ts
  packages/backend/src/database/migrations/1685625706920-default.ts
  packages/backend/src/database/migrations/1685817474704-default.ts
  packages/backend/src/routes.ts
  packages/backend/src/services/mailService.ts
  packages/backend/src/utils/notifyUser.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/login/login.tsx
  packages/frontend/src/presentation/pages/recuperarSenha/enviarCodigo.scss
  packages/frontend/src/presentation/pages/recuperarSenha/enviarCodigo.tsx
  packages/frontend/src/presentation/pages/recuperarSenha/imagem/background.jpg
  packages/frontend/src/presentation/pages/recuperarSenha/imagem/logo.png
  packages/frontend/src/presentation/pages/recuperarSenha/recuperarSenha.scss
  packages/frontend/src/presentation/pages/recuperarSenha/recuperarSenha.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

add edit request method
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/routes.ts
  packages/frontend/src/main/api/api.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: add relatorio 4 sprint
  docs/relatorio-sprint4.md
Due: none

edicaoChamado
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/chamados/edicao/edicaochamado.scss
  packages/frontend/src/presentation/pages/chamados/edicao/edicaochamado.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: video sprint 1
  README.md
  docs/relatorio-sprint1.md
Due: none

ajuste
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1685899725962-default.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/components/kanban/kanbanBoard.tsx
  packages/frontend/src/presentation/components/kanban/style.scss
  packages/frontend/src/presentation/components/kanban/task.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/components/menu/menuStyle.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

botao
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: video sprint
  README.md
  docs/relatorio-sprint1.md
Due: none

Update relatorio-sprint4.md
  docs/relatorio-sprint4.md
Due: none

correções ortográficas
  docs/relatorio-sprint3.md
  docs/relatorio-sprint4.md
Due: none

linkedin atualizado
  README.md
Due: none

Path conditions:
  prettier --write: (any of: */backend/**/*.ts) or (any of: */frontend/**/*.{ts,tsx})
  npm run lint:fix -w backend: any of: */backend/**/*.ts
  npm run test:staged -w backend: any of: */backend/**/*.ts
  npm run lint:fix -w frontend: any of: */frontend/**/*.{ts,tsx}
  npm run test:staged -w frontend: any of: */frontend/**/*.{ts,tsx}
