Repository CodeLabFatec/SolutionSpace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

.lintstagedrc.json:

{
  "*/backend/**/*.ts": ["prettier --write", "npm run lint:fix -w backend", "npm run test:staged -w backend"],
  "*/frontend/**/*.{ts,tsx}": ["prettier --write", "npm run lint:fix -w frontend", "npm run test:staged -w frontend"]
}

feat(group) - Created check permissions
  package-lock.json
  package.json
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1681590491394-default.ts
  packages/backend/src/database/migrations/1681593030091-default.ts
  packages/backend/src/database/migrations/1681829165436-default.ts
  packages/backend/src/database/migrations/1681884213122-default.ts
  packages/backend/src/database/migrations/1682034739809-default.ts
  packages/backend/src/database/migrations/1682101351646-default.ts
  packages/backend/src/database/migrations/1682117805066-default.ts
  packages/backend/src/database/migrations/1682189846479-default.ts
  packages/backend/src/database/migrations/1682262938570-default.ts
  packages/backend/src/infra/database/data-source.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

refact(grupo) - changed creation duplicated group message
  package-lock.json
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

ajustes
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios.tsx
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

fix: fixed request list
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(permissions) Added check permissinos before ratings
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/utils/checkGroupPermissions.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

.
  packages/backend/src/controllers/RatingController.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

docs: relatorio sprint 2
  docs/relatorio-sprint2.md
Due: none

ajustes
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
  packages/frontend/src/presentation/pages/chamados/chamados-styles.scss
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipeStyles.scss
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.scss
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.scss
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

Update README.md
  README.md
Due: none

ajuste
  packages/frontend/src/presentation/components/chamados-lista/chamado-lista.tsx
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.scss
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios-styles.scss
  packages/frontend/src/presentation/styles/global.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

Sprint 2 finalizada.
  docs/relatorio-sprint2.md
Due: none

docs: adicionado prioridade ao backlog
  README.md
Due: none

docs: readme emoji
  README.md
Due: none

docs: backlog sprint 3
  README.md
Due: none

feat: add unarchive method
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/routes.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

refact: alerts
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/services/alertService.ts
  packages/frontend/src/main/services/index.ts
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/listagem/listagemEquipe.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/listagem/listagemGrupos.tsx
  packages/frontend/src/presentation/pages/login/login.tsx
  packages/frontend/src/presentation/pages/usuarios/cadastro/cadastro-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/listagem/listagem-usuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: added notifications
  package-lock.json
  package.json
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683285480535-default.ts
  packages/backend/src/repos/postgres/entitites/Notifications.ts
  packages/backend/src/repos/postgres/repositories/notificationsRepository.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/mailService.ts
  packages/backend/src/types/emailType.ts
  packages/backend/src/types/index.ts
  packages/backend/src/utils/notifyUser.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

remove console.log
  packages/backend/src/controllers/AuthController.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

fix: fixed rating method
  packages/backend/src/controllers/NotificationsController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682262938570-default.ts
  packages/backend/src/database/migrations/1683331568012-default.ts
  packages/backend/src/repos/postgres/entitites/Notifications.ts
  packages/backend/src/routes.ts
  packages/backend/src/utils/notifyUser.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

personalizacao-init
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/colorPicker/colorPicker.tsx
  packages/frontend/src/presentation/components/colorPicker/colorPickerStyle.scss
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/personalizacaoStatus/listagem/personalizacaoStatus.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/listagem/personalizacaoStatusStyles.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: stste
  packages/frontend/src/main/types/avaliacao.ts
  packages/frontend/src/main/types/index.ts
  packages/frontend/src/presentation/components/colorPicker/colorPicker.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/listagem/personalizacaoStatus.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: readme update
  README.md
Due: none

history-ratings
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.scss
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.tsx
  packages/frontend/src/presentation/pages/index.ts
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat(statusConfiguration) Created Get status config and update
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683285480535-default.ts
  packages/backend/src/database/migrations/1683331568012-default.ts
  packages/backend/src/database/migrations/1683563067834-default.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/backend/src/repos/postgres/entitites/StatusConfiguration.ts
  packages/backend/src/routes.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend

start
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/repos/postgres/entitites/User.ts
  packages/frontend/src/presentation/components/header/header-styles.scss
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/components/index.ts
  packages/frontend/src/presentation/components/notificacao/notificacao-styles.scss
  packages/frontend/src/presentation/components/notificacao/notificacao.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add funcionalidade pagina
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/NotificationsController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/controllers/index.ts
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683587853299-default.ts
  packages/backend/src/database/migrations/1683669903631-default.ts
  packages/backend/src/dummy-greeter.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/backend/src/routes.ts
  packages/backend/test/dummy-greeter.spec.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/main/services/downloadFile.ts
  packages/frontend/src/main/services/index.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.scss
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

status
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/index.ts
  packages/frontend/src/presentation/pages/personalizacaoStatus/AnaliseRisco/personalizacaoAnalise.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/AnaliseRisco/personalizacaoStatusStyles.scss
  packages/frontend/src/presentation/pages/personalizacaoStatus/alinhamentoEstrategico/personalizacaoAlinhamento.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/alinhamentoEstrategico/personalizacaoStatusStyles.scss
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: add page
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/enums/index.ts
  packages/frontend/src/main/enums/tipo-avaliacao.ts
  packages/frontend/src/main/types/avaliacao.ts
  packages/frontend/src/main/types/index.ts
  packages/frontend/src/main/types/status-configuration.ts
  packages/frontend/src/presentation/components/colorPicker/colorPicker.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/AnaliseRisco/personalizacaoAnalise.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/AnaliseRisco/personalizacaoStatusStyles.scss
  packages/frontend/src/presentation/pages/personalizacaoStatus/alinhamentoEstrategico/personalizacaoAlinhamento.tsx
  packages/frontend/src/presentation/pages/personalizacaoStatus/alinhamentoEstrategico/personalizacaoStatusStyles.scss
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: backlog update
  README.md
Due: none

sla
  README.md
  package-lock.json
  package.json
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/NotificationsController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/backend/src/controllers/index.ts
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1682262938570-default.ts
  packages/backend/src/database/migrations/1683563067834-default.ts
  packages/backend/src/database/migrations/1683587853299-default.ts
  packages/backend/src/database/migrations/1683669903631-default.ts
  packages/backend/src/dummy-greeter.ts
  packages/backend/src/repos/postgres/entitites/Notifications.ts
  packages/backend/src/repos/postgres/entitites/StatusConfiguration.ts
  packages/backend/src/repos/postgres/repositories/notificationsRepository.ts
  packages/backend/src/routes.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/mailService.ts
  packages/backend/src/types/emailType.ts
  packages/backend/src/types/index.ts
  packages/backend/src/utils/notifyUser.ts
  packages/backend/test/dummy-greeter.spec.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/main/services/downloadFile.ts
  packages/frontend/src/main/services/index.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.scss
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.tsx
  packages/frontend/src/presentation/pages/index.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: permissao status & ajustes
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/statusConfigurationController.ts
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683804275779-default.ts
  packages/backend/src/database/migrations/1683810603833-default.ts
  packages/backend/src/database/migrations/1683813798806-default.ts
  packages/backend/src/repos/postgres/entitites/Group.ts
  packages/backend/src/repos/postgres/entitites/Rating.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/backend/src/repos/postgres/entitites/StatusConfiguration.ts
  packages/backend/src/repos/postgres/entitites/Team.ts
  packages/backend/src/utils/notifyUser.ts
  packages/frontend/src/main/api/api.tsx
  packages/frontend/src/main/types/chamado-type.ts
  packages/frontend/src/presentation/components/chamado/chamado.tsx
  packages/frontend/src/presentation/components/chamados-lista/chamado-lista.tsx
  packages/frontend/src/presentation/components/index.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.scss
  packages/frontend/src/presentation/components/lista-chamados/lista-chamados.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

avaliacao-menu
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683803953990-default.ts
  packages/frontend/src/presentation/components/BasicMenu/basicMenu.tsx
  packages/frontend/src/presentation/components/BasicMenu/basicMenuStyles.scss
  packages/frontend/src/presentation/components/NotificationBell/notificationBell.tsx
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/pages/formularioChamados/formularioChamados.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

feat: notification component
  packages/backend/src/controllers/AuthController.ts
  packages/backend/src/controllers/NotificationsController.ts
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/BasicMenu/basicMenu.tsx
  packages/frontend/src/presentation/components/BasicMenu/basicMenuStyles.scss
  packages/frontend/src/presentation/components/NotificationBell/notificationBell.tsx
  packages/frontend/src/presentation/components/header/header.tsx
  packages/frontend/src/presentation/pages/chamados/chamados-styles.scss
  packages/frontend/src/presentation/pages/index.ts
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajustados
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend

visuChamadosArquivados
  packages/backend/package-lock.json
  packages/backend/src/database/data-source.ts
  packages/backend/src/database/migrations/1683815443914-default.ts
  packages/frontend/src/main/contexts/authcontext.tsx
  packages/frontend/src/main/enums/visualizar-chamado.ts
  packages/frontend/src/main/routes/router.tsx
  packages/frontend/src/presentation/components/chamados-lista/chamado-lista.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

fix: fix front
  packages/backend/src/controllers/RequestController.ts
  packages/backend/src/repos/postgres/entitites/Request.ts
  packages/backend/src/routes.ts
  packages/frontend/src/presentation/components/chamados-lista/chamado-lista.tsx
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/alinhamentoEstrategico/alinhamentoEstrategico.tsx
  packages/frontend/src/presentation/pages/analiseRisco/analiseRisco.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

ajustes
  packages/backend/src/controllers/GroupController.ts
  packages/backend/src/controllers/RatingController.ts
  packages/backend/src/controllers/TeamController.ts
  packages/backend/src/controllers/UserController.ts
  packages/frontend/src/main/types/chamado-type.ts
  packages/frontend/src/main/types/user.ts
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.scss
  packages/frontend/src/presentation/pages/historicoAvaliacao/historicoAvaliacao.tsx
Due: prettier --write, npm run lint:fix -w backend, npm run test:staged -w backend, npm run lint:fix -w frontend, npm run test:staged -w frontend

docs: add relatorio 3 sprint
  README.md
  docs/relatorio-sprint3.md
Due: none

ajustes
  packages/frontend/src/presentation/components/info-chamado/info-chamado-styles.scss
  packages/frontend/src/presentation/components/info-chamado/info-chamado.tsx
  packages/frontend/src/presentation/components/menu/menu.tsx
  packages/frontend/src/presentation/pages/equipe/cadastro/cadastroEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.scss
  packages/frontend/src/presentation/pages/equipe/edicao/edicaoEquipe.tsx
  packages/frontend/src/presentation/pages/equipe/visualizacao/visualizarEquipe.scss
  packages/frontend/src/presentation/pages/equipe/visualizacao/visualizarEquipe.tsx
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.scss
  packages/frontend/src/presentation/pages/grupos/cadastro/cadastroGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.scss
  packages/frontend/src/presentation/pages/grupos/edicao/edicaoGrupo.tsx
  packages/frontend/src/presentation/pages/grupos/visualzacao/visualizarGrupo.scss
  packages/frontend/src/presentation/pages/grupos/visualzacao/visualizarGrupo.tsx
  packages/frontend/src/presentation/pages/home/home.tsx
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios-styles.scss
  packages/frontend/src/presentation/pages/usuarios/edicao/edicao-usuarios.tsx
  packages/frontend/src/presentation/pages/usuarios/visualizacao/visualizarUsuarios.scss
  packages/frontend/src/presentation/pages/usuarios/visualizacao/visualizarUsuarios.tsx
Due: prettier --write, npm run lint:fix -w frontend, npm run test:staged -w frontend
